.nav {
  border-bottom: 1px solid #0505050e;
  display: flex;
  align-items: center;
  justify-content: center;
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    &_item {
      width: auto;

      padding: 20px 24px;
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #5f6078;
      span {
        padding: 2px 8px;
        background: #e2edea;
        border-radius: 40px;

        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        text-align: center;
        color: var(--main-color);
      }
    }
  }
}
